.form__submit {
  width: 100%;
  min-height: 50px;
  border: 0;
  padding: 0;
  border-radius: 2px;
  background-color: #000;
  color: white;
  font-size: 18px;
  line-height: 1.22;
  transition: opacity 0.2s ease;
}

.form__submit:hover {
  cursor: pointer;
  opacity: 0.8;
}

.form__submit:disabled {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #000;
  color: #000;
  opacity: .2;
}

.form__submit:disabled:hover {
  cursor: not-allowed;
  opacity: .2;
}

@media screen and (max-width: 550px) {
  .form__submit {
    min-height: 46px;
    font-size: 14px;
  }
}