.form__title {
  margin: 0 0 40px;
  font-size: 24px;
  line-height: 1.21;
  font-weight: 900;
}

@media screen and (max-width: 570px) {
  .form__title {
    font-size: 18px;
    margin-bottom: 65px;
  }
}