.header {
  width: 880px;
  margin: 0 auto;
  padding: 45px 0 37px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .header {
    width: calc(100% * (880/1024));
  }
}

@media screen and (max-width: 570px) {
  .header {
    width: 100%;
    padding: 0 0 31px;
  }
}