.form__input {
  width: 100%;
  padding: 9px 0;
  border: 0;
  background-color: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 1.21;
}

.form__input:last-of-type {
  margin-bottom: 47px;
}

.form__input::placeholder {
  font-size: 14px;
  line-height: 1.21;
  color: #c4c4c4;
}

.form__input:focus {
  outline: rgb(141, 161, 255) solid 2.5px;
}